.App {
    display: flex;
    flex-direction: column;

}

.First {
    background: #663F04;
    background: radial-gradient(ellipse at center, rgba(102, 63, 4, 0.7), rgba(102, 63, 4, 5));
    position: relative;
    min-height: 431px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.First-first {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5px;
    line-height: 6px;
    letter-spacing: 0.3em;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 8px;

}
.FirstLogo{
    position: absolute;
    margin-left: 2%;

    padding: 10px;
}
.First h1 {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 18px;
    padding: 10px;
}

.First h2 {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 27px;
    margin-left: 18px;
    color: #FFFFFF;
    padding: 10px;
}

.First h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 70%;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 18px;
}

.First hr {
    border: 5px solid #DBAB00;
    width: 95%;
}

.First button {
    width: 166px;
    height: 55px;
    background: #A70B0B;
    box-shadow: 0px 0px 15px #DD9E23;
    padding: 10px;
    margin-left: 18px;
}

.First button a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.FirstDark {
    display: flex;
    flex-direction: row;
    background: #000000;
    opacity: 0.5;
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: flex-start;
}

.FirstDark div {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 7px;
    line-height: 4px;
    color: #FFFFFF;
    padding: 20px;
}

.Img {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;

}

.Second {
    background: #E5E5E5;
    padding-top: 0;
    margin-top: 0;
    position: relative;
}
.SecondFrame{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -100px;
}
@media screen and (max-width: 500px) {
    .SecondFrame .FourthFrame{
        width: auto;
    }
    .SixthInp{
        height: 100px;
    }
}


.SecondDiv {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    max-width: 80%;
    padding: 10px;
    margin-left: 18px;
}

.SecondRow {
    display: flex;
    flex-direction: row;
}

.SecondName {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
    margin-left: 18px;
}

.SecondUsp {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    padding: 10px;
    margin-left: 18px;
}

.SecondRed {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #A70B0B;
    padding: 10px;
    margin-left: 18px;
}
.SecondDip{
    text-align: center;
}

.SecondFin {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 10px;
    margin-left: 18px;
}

.SecondButton {
    background: #A70B0B;
    box-shadow: 0px 0px 15px #DD9E23;
    width: 249px;
    height: 61px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 18px;
    color: #FFFFFF;
}
.SecondDod{
    margin: 18px;
}

.ThirdNameN{
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    padding: 10px;
    margin-left: 18px;
    color: #FFFFFF;
}

.ThirdName {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 18px;
}

.ThirdYel {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFE132;
    padding: 10px;
    margin-left: 18px;
    text-shadow: 0px 0px 50px #FFB800;
}

.Third hr {
    border: 5px solid #DBAB00;
    transform: rotate(-0.27deg);
}

.FourthBig {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.FourthName {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    padding: 10px;
    margin-left: 18px;
}

.FourthText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    margin-left: 18px;
}

.FourthBord {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    border: 5px solid #DBAB00;
    box-sizing: border-box;
    color: #A70B0B;
    padding: 10px;
    margin: 18px;
}
.FourthButton{
    width: 249px;
    height: 61px;
    background: #A70B0B;
    box-shadow: 0px 0px 15px #DD9E23;
    padding: 10px;
    margin: 18px;
}
.FourthFrame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -50px;
}

.Fifth hr {
    border: 5px solid #DBAB00;
}

.FifthText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    margin: 18px;
    color: #FFFFFF;
}

.FifthBord {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 10px;
    margin: 18px;
    color: #FFFFFF;

    border: 1px solid #DD9E23;
    box-sizing: border-box;

}

.FifthYel {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FF0B0B;
    background: #F5E586;
    border: 5px solid #DBAB00;
    box-sizing: border-box;
    padding: 20px;
}
.FifthImg{

    margin: 18px;
}
.Empty{
    height: 60px;
}

.Sixth {
    background: #FFFCEB;
    border: 5px solid #DBAB00;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
}
.SixthLabel{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 18px;
}
.SixthGrey{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    margin: 18px;
    color: rgba(0, 0, 0, 0.5);
}
.SixthBlack{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    margin: 18px;
}
.Sixth div{
    margin: 12px;
}
.SixthInp{
    background: #FFFFFF;
    border: 2px solid #E2C765;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    color: #000000;
    opacity: 0.5;
    display: flex;
}

.App a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.SixthText{
    padding-bottom: 10px;
}
.LastText{
    margin: 18px;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
